/**
 * vista.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */



*{
	-fx-background-color: black;
}


/*.button { Poser problème avec la position des boutons à priori
    -fx-base: lightblue;
    -fx-font-size: 12px;
    -fx-alignment :left;
}*/